.mainPageBody {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 90px);

}

.navbar {
    min-width: 500px !important;
}

.mainPagePayload {
    width: 100%;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    scrollbar-width: none; /* Для Firefox */
}