.btnBody {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    color: white;
    box-sizing: border-box; /* Указывает, что размеры включают padding и border */
    background-color: rgba(0,0,0,0);
    transition: background-color 0.1s ease, color 0.1s ease;
    border-left: none;
    border-right: none;
    border-top: rgba(100, 39, 236, 0.3) 1px solid;
    border-bottom: rgba(100, 39, 236, 0.3) 1px solid;
    font-family: "JetBrains Mono", monospace;
}

.btnBody:hover {
    background-color: #6427ec;
    color: white;
    cursor: pointer;
}

.btnBody:active {
    background-color: rgba(0,0,0,0);
    border-top: #6427ec 1px solid;
    border-bottom: #6427ec 1px solid;
}