.dropdown {
    position: relative;
    display: inline-block;
}

.btn {
}

.dropdownList {
    position: absolute;
    right: 0; /* Выравнивание по правому краю */
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #2a2a2a;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dropdownListItem {
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает отступы */

}
