.dropdown-toggle::after {
    display: none;
}

.navbar {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown:hover .dropdown-toggle:hover {
    background-color: #404848 !important;
}
.dropdown:active .dropdown-toggle:active {
    background-color: #404848 !important;
}
.dropdown:focus .dropdown-toggle:focus {
    background-color: #404848 !important;
}

.dropdown:focus-within .dropdown-toggle:focus-within {
    background-color: #404848 !important;
}
.dropdown-toggle {
    background-color: transparent !important
}
.btn-search {
    background-color: #873d9f; /* Филетовый цвет */
    border-color: #873d9f; /* Филетовый цвет */
    color: white; /* Цвет текста */
}

.btn-search:hover {
    background-color: lightgray; /* Серый цвет при наведении */
    border-color: lightgray; /* Серый цвет при наведении */
    color: black; /* Цвет текста */
}

.Row + .Col:first-child {
    padding-left: 0;
}

.Row + .Col:last-child {
    padding-right: 0;
}

.form-control-border:hover {
    border-color: #873d9f;
}
.form-control-border:focus {
    border-color: #cf47ff;
    box-shadow: 0 0 0 0.25rem rgb(130, 0, 169) !important; /* Замените rgba(135, 61, 159, 0.25) на желаемый цвет при активации */
}
.form-control-border:focus::after {
    border-color: #873d9f;
    box-shadow: 0 0 0 0.2rem rgb(135, 61, 159) !important; /* Замените rgba(135, 61, 159, 0.25) на желаемый цвет при активации */
}

.navbar {
    background-color: #2d3131 !important; /* Замените #yourNavbarColor на желаемый цвет */
}

body {
    background-color: #191a1a !important; /* Замените #yourBodyColor на желаемый цвет */
}


