.LeftNavBar {
    margin: 10px;
    background-color: #2d3131;
}

.LeftNavBarItem {
    background-color: transparent !important;
    border: 0px;
    color: white;
}

.LeftNavBarItem:hover {
    background-color: #394141 !important;
    color: white;
}