.input {
    display: none;
}

.inputBody {
    display: flex;
    flex-direction: row;
}

.choiceButton {

}

.fileName {
    width: 100%;
    display: flex;
    align-items: stretch;
    font-family: "JetBrains Mono", monospace;
}

.error {
    width: 100%;
    display: flex;
    align-items: stretch;
    font-family: "Times New Roman", Times, serif;

    color: red !important;
    font-size: 0.8em;
}
