.avatar {
    width: 100px;
    height: 100px;
}

.userHeadBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 200px;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    margin-left: 20px;
}

.username {
    font-size: 24px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    margin: 0;
    color: white;
}

.registDate {
    font-size: 12px;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    color: #bbbaba;
}