#gridContainer > div {
    position: relative;
    transition: box-shadow 0.3s ease, z-index 0.3s ease; /* Добавьте задержку для z-index */
    z-index: 1 !important;
    background-color: #2a2a2a;
}

#gridContainer > div:hover {
    position: relative;
    box-shadow: 0 0 100px 5px #6427ec; /* При наведении добавляется свечение */
    cursor: pointer;
    z-index: 0 !important;
}

#gridContainer > div:not(:hover) {
    position: relative;
    z-index: 1 !important;
}