.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding-right: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    align-content: start; /* Добавьте это свойство */

    box-sizing: border-box;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: calc(100vw - 90px);
    padding-left: 220px;
}



.gridContainer::-webkit-scrollbar {
    display: none; /* Убираем полосу прокрутки у Chrome */
}

