/* VideoGrid.module.css */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding-right: 10px;
    height: calc(100vh - 90px);
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    scrollbar-width: none; /* Для Firefox */
}

.gridContainer::-webkit-scrollbar {
    display: none; /* Убираем полосу прокрутки у Chrome */
}

